<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>401543122228-0d9vi7fvir5mvglbf35dv2rag14vmbjt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.401543122228-0d9vi7fvir5mvglbf35dv2rag14vmbjt</string>
	<key>API_KEY</key>
	<string>AIzaSyBMWWJsmEjDP2QDUEoeST0NPKbG8Vbx15o</string>
	<key>GCM_SENDER_ID</key>
	<string>401543122228</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mertyigit.Mersgram</string>
	<key>PROJECT_ID</key>
	<string>mersgram</string>
	<key>STORAGE_BUCKET</key>
	<string>mersgram.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:401543122228:ios:c10ff181af79355d</string>
	<key>DATABASE_URL</key>
	<string>https://mersgram.firebaseio.com</string>
</dict>
</plist>